.cart{
	width:250px;
	height:340px;
	border:1px solid black;
	margin:30px;
	float:left;
	text-align:center;
	padding:30px;
}
.cart .name{
	font-size:1.4rem;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:30px;
}
.cart .cost{
	font-size:1.3rem;
	margin:20px 0px;
}
.cart .add-to-cart{
	color: #42b983;
    position: relative;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
	cursor:pointer;
}
.add-to-cart:hover{
	 border: 3px solid #42b983;
}
.add-to-cart:active{
	 border: 1px solid #42b983;
}
.goods-out{
	border-bottom:1px solid black;
	float:left;
	width:85%;
	padding:0px 80px 0px 70px;
	box-sizing:border-box;
	
}
.goods-out::after{
	content:"";
	display:block;
	clear:both;
}
nav a 
{
	text-decoration:none;
	float:right;
	margin-left:2%;
	font-size:150%;
	color:black;
}
.goods-out a{
	text-decoration:none;
	color:black;
}
.menu
{
	float:right;
	width:100%;
}
.abside
{
	width:12%;
	float:left;
	margin-top:30px;
	border:2px solid silver;
	border-radius:20px;
	padding-bottom:20px;
	padding-top:20px;
	margin-left:2%;
}
.abside p{
	padding: 8px 8px 0px 20px;
	font-size: 20px;
	color: black;
	display: block;
}
.m{
	padding: 8px 8px 8px 20px;
	font-size: 20px;
	color: black;
	display: block;
	
}
.con{
	width:100%;	
}
.filtr label
{
	padding: 0px 4px 8px 4px;
	font-size: 17px;
	color: black;
}
